.App {
  text-align: center;
  background-color: black;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

button {
  background-color: transparent;
  border: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 2px;
}

p {
  padding: 0;
  margin: 0;
}

mark {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.App-header {
  position: relative;
  background-color: #26282b;
  background-image:url('https://media3.giphy.com/media/xTiTniuHdUjpOlNo1q/giphy.gif'); background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vh;
  overflow: hidden; 
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) alternate ;
}

.NameSite {
  position: relative;
  margin-top: calc(40px + 3vmin);
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
  color: white;
  font-size: calc(38px + 3vmin);
  font-weight: bolder;
  font-family: sans-serif;
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.ButtonList {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  height: 100vh;
}

.ButtonHome {
  position: relative;
  border: 2px;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  width: calc(220px + 6vmin);
  height: calc(40px + 3vmin);
  color: white;
  font-size: calc(10px + 3vmin);
  font-family: sans-serif;  
  margin: calc(10px + 3vmin);
  animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.InfoBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0px;
  overflow: hidden;
  background-color: transparent;
  margin-left: 10px;
  margin-right: 10px;
  font-family: sans-serif;
  animation: none;
}

.CounterWebPage {
  color: white;
  font-family: sans-serif;  
}

.IconSocial {
  margin-left: calc(3px + 2vmin);
  margin-right: calc(3px + 2vmin);
  margin-top: 2vmin;
  margin-bottom: 2vmin;
  width: calc(30px + 3vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes height-open {
  0% {
    height: 0;
  }
  100% {
    height: calc(100px + 5vmin);
  }
}

@keyframes height-close {
  0% {
    height: calc(100px + 5vmin);
  }
  100% {
    height: 0px;
  }
}