.container {
	position:fixed;
	padding: 0 2rem;
	background-color: var(--main-background-color);
	height: calc(100vh - calc(100vh - 100%));
	height: 100vh;
	width: 100%;
	max-height: -webkit-fill-available;
}

.main {
	margin: 0;
	min-height: 100vh;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	user-select: none;
	margin: 0;
	padding: 0;
	font-size: 3.5rem;
	text-align: center;
	color: var(--title-text-color);
	font-family: 'Source Code Pro', monospace;
}

.titleMark {
	color: unset;
	background-color: var(--mark-background-color);
	padding-left: 0px;
	padding-right: 0px;
}

.otherInfo {
	max-width: 650px;
	margin: 0;
	margin-top: 2rem;
}

.descriptionText {
	user-select: none;
	font-size: 1rem;
	font-family: 'Roboto Mono', monospace;
	color: var(--description-text-color);
	text-align: justify;
  	text-justify: inter-word;
}

.buttonDiv {
	margin-top: 1.5rem;
	text-align: center;
}

.button {
	appearance: none;
	box-sizing: border-box;
	box-shadow: none;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	font-family: 'Roboto Mono', monospace;
	margin: 0.5rem 1.5rem;
	width: 7rem;
	height: 2.4rem;
	cursor: pointer;
	border-radius: 7px;
	border: 0;
	font-weight: 700;
	color: var(--description-button-text);
	background-color: var(--description-button-background);
	transition: 0.3s;
}

.button:hover {
	background-color: var(--description-button-background-hover);
	outline: none;
}

.button:active {
	background-color: var(--description-button-background-pressed);
	outline: none;
}